*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

:root{
  --bg-color: #1d2631;
  --tex-color:#fff;
  --main-color: #34e7f8;
  --other-color: #fcfcfc;
  --h1-font: 4rem;
  --p-font: 1rem;
}

  body {
    background-color: #1d2631;
    color:var(--tex-color);
  }
  
  header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
  }

  .logo {
    display: flex;
    align-items: center;
    color: var(--tex-color);
    font-size: 25px;
    font-weight: bold;
  }
  /*Ícone da logo*/
  .flower-icon {
    font-size: 32px;
    margin-right: 5px;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .menu{
    display: flex;
  }
  
  .menu a {
    color: var(--other-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 0 30px;
    transition: a .55s ease;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
  }
  
  .menu li a:hover {
    background-color: #87BBA2;
    color: #fff;
  }

  .header-icons{
    display: flex;
    align-items: center;
  }
  
  #menu{
    font-size: 35px;
    color: var(--tex-color);
    z-index: 10001;
    cursor: pointer;
  }
  
  .header-icons i{
    margin-right: 25px;
    font-size: 28px;
    cursor: pointer;
    transition: all .5s ease;
  }

  .header-icons i:hover{
    transform: translateY(-5px);
    color: #87BBA2;
  }

  .logo-container {
    display: flex;
    align-items: center;
    margin-right: 80px;
  }

  /* Media Query para dispositivos menores */
@media screen and (max-width: 768px) {
  .logo {
    font-size: 20px;
  }

  /* Esconder o ícone da logo em telas menores */
  .flower-icon {
    display: none;
  }

  /* Exibir o ícone de flor para o menu "hamburger" em telas menores */
  #menu {
    display: flex;
  }

  /* Esconder o menu principal em telas menores */
  .menu {
    display: none;
  }

  /* Estilos para o menu responsivo (hamburguer) */
  .menu.responsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px; /* Ajuste a posição do menu dropdown conforme necessário */
    right: 8%;
    background-color: var(--bg-color);
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }

  .menu.responsive li {
    margin: 10px 0;
  }

  /* ... outros estilos ... */
}

/* ... background com fundo de flores ... */
.cover *{
  box-sizing: border-box;
}
.cover{
  position: relative;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  transition: opacity .1s ease-out 0s;
}
.cover-background{
  z-index: 3;
  background-color: rgb(255, 255, 255);
  height: 542px;
}
.cover-background ::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color .2s ease-in-out 0s;
}
.parallax-container{
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto !important;
  min-height: 100%;
  overflow: hidden;
}
/* ... cover da imagem dentro da div cover-background ... */
.cover-imagem{
  min-height: 100vh;
}
.cover-imagem .mobilePiture{
  opacity: 1;
}
